* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    html {
      scroll-behavior: smooth;
      scroll-padding-top: 100px; 
}

body {
  margin: 0;
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-image: linear-gradient(180deg, #0d1117, #1d2530);
  line-height: 1.6;
}

header h1 {
      opacity: 0;
      transform: translateX(-100px);
      animation: slideInLeft 2s forwards;
    }

header p {
  opacity: 0;
  transform: translateX(100px);
  animation: slideInRight 2s forwards;
}

@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.skills-list {
  list-style: none;
  margin-top: 2.5rem;
  padding-left: 0;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
  justify-items: center;
}

.skills-list li {
  background: #e3f2fd;
  padding: 10px 15px;
  border-radius: 8px;
  border-color: #e3f2fd;
  border: 3px solid #fff;
  font-weight: 500;
  color: #0d47a1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: 100%; 
  max-width: 180px;
  text-align: center;
}

.skills-list li:hover {
  background: #007acc;
  padding: 10px 15px;
  border-radius: 8px;
  border-color: #e3f2fd;
  font-weight: 500;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: color 0.3s ease;
}

.projects-list {
  margin-top: 2.5rem;
}

.projects-list li {
  margin: 0.8rem;
  padding: 10px;
}

.navbar {
  position: sticky;
  width: 100%;
  height: 60px;
  background-color: #0d1117;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-links {
     display: flex;
     gap: 20px;
}

.nav-links a {
     color: #fff;
     text-decoration: none;
     font-size: 1rem;
     transition: color 0.3s ease;
}

.nav-links a:hover {
     color: #3a78ec;
}

.container-1 {
  position: top;
  margin: auto;
  height: 100vh;
  background-image: radial-gradient(circle, #252d3d, #0d1117);
}

.container-2 {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  color: #fff;
  box-shadow: 0 10px 30px, #0d1117;
  border-radius: 12px;
  margin-top: 4rem;
}

.container-2 h2 {
  color: #fff;
  border-bottom: 2px solid #252d3d;
}

.container-2 p{
  margin-top: 2.5rem;
}

header {
  padding: 2rem;
  text-align: center;
  color: #333;
}

section, footer {
  margin: 3rem;
}

h1 {
  color: #ffffff;
  margin-bottom: 0.5rem;
}

h2 {
  color: #0d1117;
  border-bottom: 2px solid #0d1117;
  padding-bottom: 0.3rem;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  color: #007acc;
  text-decoration: underline;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  color: #d6d6d6;
  background-color: #1d2530;
}

.social-icons p {
  margin-top: 2.5rem;
}

.social-icons a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a i {
  font-size: 30px;
}

.social-icons a:hover {
  color: #007acc;
}

#home p{
  color: #c0cde9;
  font-size: 5vh;
}

#home h1{
  font-size: 10vh;
}

#home header{
  text-align: center;
}

#contact p {
  margin-top:0.8rem;
}

#contact {
  text-align: center;
}

